<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type = "text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" th:href="@{/css/home.css}">



</head>
</body>


<div  class="d-flex flex-column justify-content-between" style="height:100vh">
    <div th:replace="home :: navbar"></div>

    <div th:if="${totalPages == 0}" style="margin-top: 100px">
        <h1 class="text-center">
        No course found.
        </h1>

        <div class="text-center">


        <a th:href="@{'/course/explore/0'}">
        <button class="btn btn-primary">
            Go back
        </button>
        </a>
        </div>
    </div>


    <div class="d-flex container mt-5" th:if="${totalPages !=0}">


    <div style="width: 25%; margin-right: 30px;">

        <form class="mt-5" th:action ="@{/course/explore/0}" method="get">
            <div class="form-group">
                <label for="exampleFormControlInput1">Search Course</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="course_" placeholder="Search Your Course">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Choose Category</label>
                <select class="form-control" id="exampleFormControlSelect1" name="category_">
                    <option th:text="${'Any'}" value=0>Any</option>
                    <option  th:each="cat:${categories}" th:value="${cat.getCategoryId()}"> <span th:text="${cat.categoryName}"></span> </option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Skill Level</label>


                <select class="form-control" id="exampleFormControlSelect2" name="difficulty_">

                    <option>Any</option>
                    <option>Beginner</option>
                    <option>Intermediate</option>
                    <option>Advance</option>

                </select>
            </div>


            <div class="form-group">
                <label for="exampleFormControlSelect3">Sort By</label>


                <select class="form-control" id="exampleFormControlSelect3" name="sorted_by">

                    <option>Default</option>
                    <option>Rating</option>
                    <option>Recent First</option>
                    <option>Cheapest First</option>

                </select>
            </div>


            <div class="text-center">
                <button class="btn btn-primary" type="submit">
                    Submit
                </button>
            </div>

        </form>


    </div>

    <div class="mt-5" style="width: 70%;">
        <h1>Our Courses</h1>


        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>



            <div class="row" >
                <th:block th:each="course, iter : ${courses}">

                    <div class="col-md-6 mt-3">
                        <div class="card" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
                            <img class="card-img-top" th:src="${course.getThumbnailPath()}" alt="Card image cap">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="design" th:text="${course.getCategory().getCategoryName()}"></p>
                                    <p class="enrolled" th:text="${enrolmentcount.get(iter.index)[0] + ' Enrolled'} "></p>
                                </div>

                                <a class="subjectLink" th:href="@{'/course/' + ${course.getCourseId()} + '/preview'}"><p style="font-weight: 700;" th:text="${course.getCourseName()}"></p></a>

                                <div class="d-flex justify-content-between align-items-center paragraph-parent">


                                    <p  class="length"><i class="fa fa-clock text-danger mr-1"></i> <span th:text="${course.getNoOfWeeks() + ' weeks'}"></span></p>
                                    <p class="noOfLectures"><i class="fa fa-video text-success mr-1"></i> <span th:text="${enrolmentcount.get(iter.index)[1] +' lectures'}"></span></p>

                                    <p class="expertise"><i class="fa fa-signal text-warning mr-1"></i><span th:text="${course.getCourseDifficulty()}"></span></p>
                                </div>

                                <div class="d-flex justify-content-between align-items-center border-top py-2">
                                    <div class="d-flex align-items-center">
                                        <img class = "avatar mr-2" th:src="@{${course.getTeacher().getProfilePath()}}">
                                        <a th:href="@{'/user/teacher/profile/' + ${course.getTeacher().getUser().getUser_id()}}" style="text-decoration: none; color:black">
                                            <p class="teacher m-0" th:text="${course.getTeacher().getUser().getFullName()}"></p>
                                        </a>
                                    </div>

                                    <p class="price m-0" ><span th:text="${course.getCoursePrice()} + ' Rs'"></span></p>
                                </div>


                            </div>
                        </div>
                    </div>


                </th:block>
            </div>

        <div class="text-center">
            <nav aria-label="Page navigation example" >
                <ul class="pagination pagination-circle pg-blue">
                    <li class="page-item" th:classappend="${currentPage == 0?'disabled':''}">
                        <a class="page-link" th:href="@{'/course/explore/' + ${currentPage-1 + queryString}}"><span >Previous</span></a>
                    </li>

                    <li  th:each="i:${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${currentPage == (i-1)?'active':''}"><a class="page-link" th:href="@{'/course/explore/' + ${i-1 + queryString} }"><span th:text="${i}"></span></a></li>

                    <li class="page-item" th:classappend="${currentPage+1 == totalPages?'disabled':''}">
                        <a class="page-link" th:href="@{'/course/explore/' + ${currentPage+1 + queryString}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

        <!--pagination-->


    </div>

    <div th:replace="home :: footer"></div>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>